body {
    background: #222;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar { 
    display: none; 
}

/*Sports Ticker*/
.sportsTicker {
    height: 8vh;
    overflow: hidden;
    position: relative;
    background-color: rgb(20, 20, 20);
    border: solid black;
    box-sizing:border-box;
    padding: 2rem;
    opacity: 0.9;
    color: #222;
}
.sportsTicker .tickerItem {
    font-size: 24px;
    color: #39A279;
    position: absolute;
    left: 100%;
    white-space: nowrap;
}

/*Main App Area*/
.headlines{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
.panel-primary{
    background-color: rgb(20, 20, 20);
    height: 85vh;
    border: solid black;
    box-sizing:border-box;
    padding: 15px;
    opacity: 0.9;
    color: white;
    overflow: scroll;
    margin-top: 3.5vh;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.panel-primary.one {
    animation-delay: 0.4s;
    width: 33%;
    background: url(../assets/images/bgimage.jpg);
}
.panel-primary.one > .panel-heading {
    border-left: solid #EA3814 5px!important;
}
.panel-primary.two {
    animation-delay: 0.8s;
    width: 33%;
}
.panel-primary.two > .panel-heading {
    border-left: solid #00BFFF 5px!important;
}
.panel-primary.three {
    animation-delay: 1.2s;
    width: 33%;
}
.panel-primary.three > .panel-heading {
    border-left: solid #39A279 5px!important;
}
.panel-heading{
    text-align: center;
    background-color: #222!important;
    border: solid black 2px!important;
}
.panel-body {
    padding: 0;
}

/*Panel One - Player List*/
.playerList #selectTeam { 
    width: 100%;
    background: rgba(20, 20, 20, 0.9)!important;
    border: solid #39A279 2px!important;
    font-size: 16px;
    margin-top: 2vh;
    animation: pulse 5s infinite;
}
@keyframes pulse {
    0% {
      background-color: none;
    }
    100% {
      background-color: #39A279;
    }
  }
.playerList #selectTeam:hover {
    background: #39A279!important;
    color: #FFF;
}
.playerList #selectPlayer {
    width: 100%;
    background: rgba(20, 20, 20, 0.9)!important;
    border: solid #EA3814 2px!important;
    margin: 5px 0 5px 0;
    font-size: 16px;
    visibility: hidden;
}
@keyframes pulse2 {
    0% {
      background-color: none;
    }
    100% {
      background-color: #EA3814;
    }
  }
.playerList #selectPlayer:hover {
    background: #EA3814!important;
    color: #FFF;
}
.playerList .dropdown-menu {
    width: 100%;
    height: 60vh;
    overflow: auto;
    background: rgba(20, 20, 20, 0.9)!important;
    color: #FFF;
}
.playerList > #teamDropdown > .dropdown-menu > li:hover {
    background-color: #39A279;
    color: #FFF;
    opacity: .8;
}
.playerList > #playerDropdown > .dropdown-menu > li:hover {
    background-color: #EA3814;
    color: #FFF;
    opacity: .8;
}
.playerList > .addedPlayer {
    background-color: rgba(20, 20, 20, 0.9);
    border-top: 1px solid transparent;
    min-height: 70px;
    padding: 5px;
    margin-top: 3px;
    font-size: 13px;
    border: solid #333 1px;
}
.playerList .weekNum {
    background: rgba(20, 20, 20, 0.9)!important;
    border: solid #222 5px;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    color: #EA3814;
}
.playerLineup {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(20, 20, 20, 0.9);
    color: #EA3814;
    padding: 10px 15px;
    border: solid black 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.playerList .game, .salary, .fantasyPoints {
    color: #888;
}

/*Panel Two - Twitter Feed*/
.playerTweets .twitterPost{
    min-height: 70px;
    margin: 0;
    position: relative;
    padding: 15px;
    margin-bottom: 2%;
    background-color: #222;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
}
.playerTweets .twitterPost::before{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.playerTweets .titleContainer {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
}
.playerTweets .tweetName{
    color: #00BFFF;
    font-weight: bold;
    font-size: 13px;
}
.playerTweets .tweetName:after{
    content: ': ';
    color: inherit;
}
.playerTweets .img-rounded {
    border-radius: 30px;
    margin-right: 5px;
    float: left;
}
.playerTweets .fa-youtube {
    color: #EA3814!important;
}

/*Panel Three - News Feed*/
.newsHeader .avatarNews{
    display: block;
    margin: auto;
    margin-top: 2vh;
}
.newsHeader h3{
    color: goldenrod;
    font-size: 18px;
}
.newsHeader .description {
    margin-bottom: 30px;
    font-size: 13px;
}
.newsHeader .btn-warning {
    float: right;
    color: goldenrod!important;
    background: none!important;
    border-color: goldenrod;
}
.newsHeader .btn-warning:hover {
    border-color: goldenrod!important;
    background-color: goldenrod!important;
    color: #000!important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* Modal */
.modal-content {
    background: #222;
    color: goldenrod;
    padding: 10px;
}
.modal-header button {
    color: #FFF;
}
.modal-body {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}
.modal-body iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-footer .btn-danger {
    color: #EA3814!important;
    background: none!important;
    border-color: #EA3814;
}
.modal-footer .btn-danger:hover {
    border-color: #EA3814!important;
    background-color: #EA3814!important;
    color: #000!important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*Media Queries for Panel Responsiveness*/
@media screen and (max-width: 991px){
    .headlines {
        justify-content: center;
    }
    .panel-primary.one {
        animation-delay: 0.4s;
        width: 45%;
        margin-right: 5px;
    }
    .panel-primary.two {
        animation-delay: 0.8s;
        width: 45%;
    }
    .panel-primary.three {
        animation-delay: 1.2s;
        width: 95%;
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .sportsTicker .tickerItem {
        font-size: 3.75vw;
    }
    .headlines {
        justify-content: center;
    }
    .panel-primary.one {
        animation-delay: 0.4s;
        width: 95%;
    }
    .panel-primary.two {
        animation-delay: 0.8s;
        width: 95%;
    }
    .panel-primary.three {
        animation-delay: 1.2s;
        width: 95%;
    }
}