body {
    background-color: #222;
}
.col-xs-3, .col-xs-6 {
    background-color: black;
    max-height: 100vh;
    border: solid red 1rem;
    border-radius: 30pt;
    box-shadow: 1rem 1rem 1rem #393939;
    padding: 2rem;
    opacity: 0.9;
    color: white;
    overflow: scroll;
}
.twitterPost{
	margin: 5%;
	position: relative;
	padding-top:5%;
}
.twitterPost::before{
	content: '';
	border-top: 3px solid white;
	height: 3px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0%;
}
.tweetName{
	color: red;
	font-weight: bold;
}
.tweetName::after{
	content: ': ';
	color: inherit;
}